<div id="body-home">
  <br>
  <br>
  <div class="row container mx-auto">
    <div class="col">
      <div class=" temp white-bg rounded shadow">
        <br>
        <h2 class="p-2 text-center"><span>อุณหภูมิ</span> <span class="value-1 primary-color"><strong>23</strong><sup><sup>°C</sup></sup></span></h2>
      </div>
      <br>
      <div class="chart">

      </div>
    </div>
    <div class="col">
      <div class=" humidity primary-bg rounded shadow">
        <br>
        <h2 class="p-2">ความชื้น</h2>
      </div>
    </div>
  </div>
</div>
